<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="test"> <!-- 자바와 쿼리를 분리 -->
 	
 	<insert id="insert_data" parameterType="kr.hs.study.dto.DataBean">
 	insert into test_tbl values(#{data1}, #{data2}, #{data3})
 	</insert>
 	
 	<select id="select_data" resultType="kr.hs.study.dto.DataBean">
 	select * from test_tbl
 	</select>
 	
 
</mapper>       